<!DOCTYPE html>
<html>

<head>
	<title>gkevinb</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
</head>

<body>
	<h1>gkevinb</h1>
	<p>Website coming soon.</p>
	<a href="https://s.codetasty.com/gkevinb/mysandbox/">Link</a>

	<div id="app">
		<input type="text" v-model="message3"></input>
		<p v-if="seen" v-html>{{ message }}</p>
		<p v-html="message2"></p>
		<p v-html="message.slice(0,5) + message3.slice(1,3)"></p>

		<ul>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ul>



	</div>

	<script src="js/index.js"></script>
</body>

</html>
