/* Bootstrap components */
@import "../../assets/scss/bootstrap";
/* Flashcard sytling (needed for chinese flashcard and business card) */
@import "../../assets/scss/flashcard";

@import "../../assets/scss/white-links";

/* Standard CR80 Card size in pixels for Iphone XS */
$business-card-width: 514px;
$business-card-height: 326px;
$business-card-radius: 16px;

$perspective: 1800px;

$rotate-degrees: 180deg;

$text-color: white;
$brand-logo-size: 48px;

$text-border-color: #969696;

@mixin resizeSVG($size) {
    svg {
        width: $size;
    }
}

#business-card__header {
    text-align: center;

    @include media-breakpoint-down(sm) {
        /* Pushes business card down the screen */
        margin-bottom: 200px;
    }
}

@media only screen and (orientation: portrait) {
    #business-card-tab {
        @include media-breakpoint-down(sm) {
            /* Creates whitespace below business card */
            height: 840px;
        }
    }
}

@media only screen and (orientation: landscape) and (max-width: 760px) {
    #business-card__scene {
        @include rotateZ-axis(-90deg);
        @include flashcard-scene(376px, $business-card-height, $perspective);
        /* Centers business card vertically */
        height: 200px;
        width: 50%;
        /* Centers business card horizontally */
        margin: auto;
    }
}

#business-card__scene {
    /* Centers business-card in the middle on any device */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include flashcard-scene(0px, $business-card-height, $perspective);

    @include media-breakpoint-up(sm) {
        @include flashcard-scene(376px, $business-card-height, $perspective);
    }
}

#business-card {
    @include flashcard();
    width: fit-content;
    /* Firefox compatibility */
    width: -moz-fit-content;

    @include media-breakpoint-down(sm) {
        @include rotateZ-axis(-90deg);
    }
}

#business-card.is-flipped {
    @include rotateY-axis($rotate-degrees);

    @include media-breakpoint-down(sm) {
        @include rotate3D(1, 1, 0, $rotate-degrees);
    }
}

/* Fix issue with Safari backface visibility on elements with absolute positioning */
.business-card-front__element {
    @include backfaceVisibility();
}

.business-card__face--front {
    @include backfaceVisibility();

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: $business-card-width;
    height: $business-card-height;
    border-radius: $business-card-radius;

    background: linear-gradient(270deg, #202020 0%, #717171 66.09%, #FFFFFF 122.41%, #FFFFFF 122.42%);

    @include media-breakpoint-down(sm) {
        transform: rotateZ($rotate-degrees);
    }

    #name {
        @extend .business-card-front__element;
        margin: 20px 0 10px 0;

        font-family: 'Roboto Mono', monospace;
        font-size: 36px;
        line-height: 55px;

        color: $text-color;
        -webkit-text-stroke: $text-border-color 1px;

    }

    #laptop-logo {
        position: relative;
        width: 162px;
        height: 98px;

        div {
            @extend .business-card-front__element;
        }
    }

    #position {
        margin: 14px 0 10px 0;

        font-family: 'Roboto Mono', monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        /* identical to box height */

        color: $text-color;

        -webkit-text-stroke: $text-border-color 0.5px;
    }

    #brand-container {
        @include backfaceVisibility();
    }

    /* Brand Logo Styling */

    .brand-logo {
        margin: 10px;
        width: 70px;
        text-align: center;
        font-size: $brand-logo-size;
        color: $text-color;
    }

    .brand-svg {
        svg {
            margin-top: -4px;
            fill: $text-color;
            width: $brand-logo-size;
        }
    }

    /* Custom styling for some SVG logos */

    #DotNet {
        @include resizeSVG(56px);
    }

    #MySql {
        @include resizeSVG(56px);
    }

    #Npm {
        @include resizeSVG(56px);
    }
}

.business-card__face--back {
    @include rotateY-axis($rotate-degrees);
    @include backfaceVisibility();

    width: $business-card-width;
    height: $business-card-height;
    border-radius: $business-card-radius;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding-top: 40px;

    font-family: 'Roboto Mono', monospace;

    background: linear-gradient(270deg, #FFFFFF -29.46%, #717171 40.14%, #000000 103.28%, #FFFFFF 103.29%);

    @include media-breakpoint-down(sm) {
        @include rotateX-axis($rotate-degrees);
    }

    #contact-container {
        height: 150px;
    }

    .contact-info {
        display: flex;
        overflow: hidden;
        color: $text-color;

        .contact-icon {
            margin: 10px;
            // width: 60px;
            text-align: center;
            font-size: 32px;
            float: left;
        }

        .contact-text {
            font-size: 20px;
            margin: 10px;
            -webkit-text-stroke: $text-border-color 0.5px;
        }
    }

    #qr-code {
        $qr-code-size: 120px;
        width: $qr-code-size;
        height: $qr-code-size;
        margin: 18px 10px;

        border: 5px solid white;
        border-radius: 5px;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #save-contact__button {
        width: 220px;
        height: 52px;
        padding: 10px;
        margin-top: -10px;

        border: 1px solid rgb(233, 233, 233);
        border-radius: 16px;
        background-color: rgb(87, 87, 87);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        text-align: center;
        font-size: 20px;

        @include white-links();
    }
}