/* Flashcard sytling (needed for chinese flashcard and business card */
@import "../../scss/flashcard";

$rotate-degrees: 180deg;
$card-color: #E7CDA7;
$font-color: #B52020;
$divider-color: #967560;

$card-size: 200px;
$perspective: 600px;

.flashcard__scene {
    @include flashcard-scene($card-size, $card-size, $perspective);

    .flashcard {
        @include flashcard();
    }

    .flashcard.is-flipped {
        @include rotateY-axis($rotate-degrees)
    }

    .flashcard__face {
        color: $font-color;
        text-align: center;
        background-color: $card-color;
        border-radius: 10px;

        position: absolute;
        width: 100%;
        height: 100%;

        /* Font styling */
        font-weight: bold;
        font-size: 40px;

        #english {
            margin: 18.5px auto;
        }

        #divider {
            width: 80%;
            margin: auto;
            background-color: $divider-color;
            border: 3px solid $divider-color;
            border-radius: 3px;
        }

        #pinyin {
            margin: 18.5px 0;
        }
    }

    .flashcard__face--front {
        @include backfaceVisibility();
    }

    .flashcard__face--back {
        @include rotateY-axis($rotate-degrees);
        @include backfaceVisibility();
    }
}

.chinese-character{
    height: $card-size;
    width: $card-size / 2;

    float: left;

    // margin-left: -7px;
    margin-top: 40px;

}