@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$bg_color: #F3F3F3;
$font_color: rgb(92, 92, 92);

$netcompany_blue: #122144;
$codeum_red: #D12D26;
$buildcode_green: #7FBC64;
$thyssenkrupp_blue: #42A0E9;
$sdu_blue: #354B7F;
$bme_red: #9B3535;

$bubble_size: 60px;


#cv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(lg){
        grid-template-columns: 1fr;
    }
    
    h2{
        font-size: 46px;
        margin-bottom: 30px;
        text-align: center;
        font-family: 'Thasadith', sans-serif;
    }
}

#experiences_container{
    width: 550px;

    @include media-breakpoint-down(md){
        width: 100%;
    }
}

#education_container{
    width: 550px;

    @include media-breakpoint-down(md){
        width: 100%;
    }
}

.experience_container{
    width: 550px;
    /* Makes sure height matches content height */
    display: block;
    overflow: auto;

    @include media-breakpoint-down(md){
        width: 100%;
    }
}

#netcompany{
    background-color: $netcompany_blue; 
}
#codeum{
    background-color: $codeum_red; 
}
#buildcode{
    background-color: $buildcode_green; 
}
#sdu{
    background-color: $sdu_blue; 
}
#thyssenkrupp{
    background-color: $thyssenkrupp_blue; 
}
#bme{
    background-color: $bme_red; 
}

.experience_card{
    background-color: $bg_color;
    font-family: 'Thasadith', sans-serif;
    width: 480px;
    /* Makes sure height matches content height */
    display: block;
    overflow: auto;

    padding: 10px;
    margin: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: $font_color;
    box-shadow: 0px 8px 15px rgb(97, 97, 97);
    float: left;

    @include media-breakpoint-down(md){
        width: 84%;
        box-sizing: border-box;
        margin: 6% 8%;
    }
    
    .title{
        font-size: 34px;
        margin: 10px;
    }
    .institution{
        margin: 10px;
    }
    .time_period{
        float: left;
        margin: 10px;
    }
    .city{
        float: left;
        margin: 10px;
    }
    .text{
        text-align: center;
        padding-top: 10px;
    }
}

.description{
    float: left;
    margin: 10px;
    width: 95%;
    border-top: 3px solid #C4C4C4;

    @include media-breakpoint-down(sm){
        display: none;
    }
}

.specialization{
    padding-top: 10px;

    #specialization_text{
        text-align: center;
    }
    #specialization_title{
        text-align: center;
        font-weight: bold;
    }
}

.thesis{
    padding-top: 10px;

    #thesis_text{
        text-align: center;
    }
    #thesis_title{
        text-align: center;
        font-weight: bold;
    }
    #thesis_details{
        padding-top: 10px;
        text-align: center;
    }
}