/* Bootstrap components */
@import "../../assets/scss/bootstrap";

$bg-color: #F3F3F3;
$font-color: rgb(92, 92, 92);

$netcompany-blue: #122144;
$codeum-red: #D12D26;
$buildcode-green: #7FBC64;
$thyssenkrupp-blue: #42A0E9;
$sdu-blue: #354B7F;
$bme-red: #9B3535;

$bubble-size: 60px;


#experiences-tab{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(lg){
        grid-template-columns: 1fr;
    }
    
    h2{
        font-size: 46px;
        margin-bottom: 30px;
        text-align: center;
        font-family: 'Thasadith', sans-serif;
    }
}

#experiences-container{
    width: 550px;

    @include media-breakpoint-down(md){
        width: 100%;
    }
}

#education-container{
    width: 550px;

    @include media-breakpoint-down(md){
        width: 100%;
    }
}

.experience-container{
    width: 550px;
    /* Makes sure height matches content height */
    display: block;
    overflow: auto;

    @include media-breakpoint-down(md){
        width: 100%;
    }
}

#netcompany{
    background-color: $netcompany-blue; 
}
#codeum{
    background-color: $codeum-red; 
}
#buildcode{
    background-color: $buildcode-green; 
}
#sdu{
    background-color: $sdu-blue; 
}
#thyssenkrupp{
    background-color: $thyssenkrupp-blue; 
}
#bme{
    background-color: $bme-red; 
}

.experience-card{
    background-color: $bg-color;
    font-family: 'Thasadith', sans-serif;
    width: 480px;
    /* Makes sure height matches content height */
    display: block;
    overflow: auto;

    padding: 10px;
    margin: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: $font-color;
    box-shadow: 0px 8px 15px rgb(97, 97, 97);
    float: left;

    @include media-breakpoint-down(md){
        width: 84%;
        box-sizing: border-box;
        margin: 6% 8%;
    }
    
    .title{
        font-size: 34px;
        margin: 10px;
    }
    .institution{
        margin: 10px;
    }
    .time-period{
        float: left;
        margin: 10px;
    }
    .city{
        float: left;
        margin: 10px;
    }
    .text{
        text-align: center;
        padding-top: 10px;
    }
}

.description{
    float: left;
    margin: 10px;
    width: 95%;
    border-top: 3px solid #C4C4C4;

    @include media-breakpoint-down(sm){
        display: none;
    }
}

.specialization{
    padding-top: 10px;

    #specialization-text{
        text-align: center;
    }
    #specialization-title{
        text-align: center;
        font-weight: bold;
    }
}

.thesis{
    padding-top: 10px;

    #thesis-text{
        text-align: center;
    }
    #thesis-title{
        text-align: center;
        font-weight: bold;
    }
    #thesis-details{
        padding-top: 10px;
        text-align: center;
    }
}