<div id="experiences-tab">
    <div id="experiences-container">
        <h2>Work</h2>
        <div v-for="experience in input.experiences" class="experience-container">
            <div class="bubble" :id="experience.tag"></div>
            <div class="experience-card">
                <div class="title">{{ experience.title }}</div>
                <a :href="experience.link" target="_blank">
                    <div class="institution">{{ experience.company }}</div>
                </a>
                <div class="time-period">{{ experience.timePeriod }}</div>
                <div class="city">{{ experience.city }}</div>
                <div class="description">
                    <div class="text">{{ experience.text }}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="education-container">
        <h2>Education</h2>
        <div v-for="degree in input.degrees" class="experience-container">
            <div class="bubble" :id="degree.tag"></div>
            <div class="experience-card">
                <div class="title">{{ degree.title }}</div>
                <a :href="degree.link" target="_blank">
                    <div class="institution">{{ degree.university }}</div>
                </a>
                <div class="time-period">{{ degree.timePeriod }}</div>
                <div class="city">{{ degree.city }}</div>
                <div class="description">
                    <div v-if="degree.specialization" class="specialization">
                        <div id="specialization-text">Specialization</div>
                        <div id="specialization-title">{{ degree.specialization }}</div>
                    </div>
                    <div class="text">{{ degree.text }}</div>
                    <div v-if="degree.thesis" class="thesis">
                        <div id="thesis-text">Thesis</div>
                        <a :href="degree.thesis.link" target="_blank">
                            <div id="thesis-title">{{ degree.thesis.title }}</div>
                        </a>
                        <div id="thesis-details">{{ degree.thesis.details }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>