<div :id="name">
    <div id="chinese_header">
        <h1>Chinese Flashcards</h1>
        <p>Click on a card to reveal the english and pinyin meaning of the Chinese symbol. Use this application to
            memorize the Chinese symbols, their pronunciation, and their meaning.</p>

        <button @click="pickCards(china.characters.length)" type="button">All</button>
        <button @click="pickCards(1)" type="button">Random</button>

        <input type="checkbox" name="mute" id="mute_checkbox" v-model="mute" /><label id="mute-checbox__label"
            for="mute_checkbox"></label>
        <div id="reminder">(Remember to unmute device as well)</div>
        
    </div>
    <div :id="flashcardStyling()">
        <chinese-flashcard v-for="(char, index) in chosenCharacters" :key="char.character" :english="char.english"
            :character="createCharacterArray(char.character)" :pinyin="char.pinyin" :audio="setAudio()">
        </chinese-flashcard>
    </div>
</div>