/* Bootstrap components */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


@mixin single-flashcard() {
    // https://love2dev.com/blog/absolute-centering-css/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

button{
    margin: 5px;
}

#chinese_header{
    text-align: center;

    h1{
        font-size: 48px;
        @include media-breakpoint-down(sm){
            font-size: 36px;
        }
    }
    
    p{
        width: 60%;
        margin: auto;
        margin-bottom: 10px;
        @include media-breakpoint-down(sm){
            width: 90%;
        }
    }

    #reminder{
        margin-top: 10px;
    }
}

/* Sound/Mute Checkbox Styling */

$mute-checkbox-size: 48px;
$mute-checkbox-margin-bottom: -19px;

@mixin mute-checkbox($image) {
    $url: '../../assets/img/#{$image}.png';
    background: url($url);
    background-position: center;
    background-size: $mute-checkbox-size $mute-checkbox-size;
    height: $mute-checkbox-size;
    width: $mute-checkbox-size;

    border: 2px solid rgb(72, 73, 77);
    background-color: rgb(206, 206, 206);
    border-radius: 30px;
}

#mute_checkbox{
    display:none;
}
#mute_checkbox + label
{
    @include mute-checkbox('sound');
    margin-bottom: $mute-checkbox-margin-bottom;
}
#mute_checkbox:checked + label
{
    @include mute-checkbox('mute');
}


/* Flashcard Layout Styling */

#flashcards_x4{
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    
    @include media-breakpoint-down(sm){
        @include single-flashcard();
    }
    @include media-breakpoint-down(md){
        grid-column-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
    @include media-breakpoint-only(lg){
        grid-template-columns: repeat(3, 1fr);
    }
}
#flashcards_x1{
    @include single-flashcard();
}