<div :id="name">
    <div id="intro-container">
        <p>Hi, my name is Kevin.</p>
        <p>I'm a full stack developer based in Budapest.</p>
        <br />
        <p>I have a passion for web development and artificial intelligence.</p>
        <br />
        <p>This is my portfolio website to showcase some of my work and interest. Feel free to have a look around and
            get in contact with me.</p>
    </div>
    <div v-if="connect" id="links-container">
        <div v-for="website in connect.links.slice(0, 3)" class="link-container">
            <a :href="website.url">
                <i :class="website.icon" class="link-icon"></i>
                <div class="link-text">{{ website.name }}</div>
            </a>
        </div>
    </div>
    <div id="construction-tape__left"></div>
    <div id="construction-tape__middle">WEBSITE CONTINUOUSLY UNDER CONSTRUCTION</div>
    <div id="construction-tape__right"></div>
</div>