/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
  height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 140px 600px auto;
  grid-row-gap: 20px;
  grid-template-areas: ". h n ." ". c c ." ". . . ."; }

.header {
  grid-area: h;
  border-bottom: 10px solid black;
  margin-top: 74px; }
  .header h1 {
    color: #2c3e50;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 50px; }

.content {
  grid-area: c; }

.navigation {
  border-bottom: 10px solid black;
  grid-area: n;
  font-family: 'Sawarabi Gothic'; }
  .navigation ul {
    margin-top: 100px;
    margin-bottom: 10px;
    float: right; }
  .navigation .nav-item {
    display: inline;
    font-size: 20px;
    padding: 6px;
    margin: 16px; }
  .navigation .nav-item:hover {
    background: linear-gradient(180deg, #D48590 0%, #ECAC81 100%);
    border-radius: 6px;
    color: white; }

#home-tab {
  position: relative;
  overflow: hidden; }
  #home-tab img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.6; }

#qlearningMap {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(3, 120px); }

.tile {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  background-color: #d2b48c; }

.tile--agent {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  background-color: red; }

.tile--cliff {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  background-color: brown; }

.tile--reward {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  background-color: gold; }
