<div id="footer-id" class="footer footer-without-credit">
    <div v-if="sources.length > 0" class="footer-credit">
        <div id="credit-title">
            <p>Give Credit</p>
        </div>
        <div id="credit-links">
            <p v-for="source in sources">
                <a :href="source.link">{{ source.name }}</a>
            </p>
        </div>
    </div>
    <div class="footer-content">
        <div id="made-with" class="footer-content__text">
            <p>Made with ❤️ by <span id="my-name">Gabor Kevin Barta</span></p>
        </div>
        <div id="hosted-by" class="footer-content__text">
            <p>Hosted by <a href="https://pages.github.com/">GitHub Pages</a></p>
        </div>
        <div id="view-source" class="footer-content__text">
            <p>View <a href="https://github.com/gkevinb/gkevinb.github.io">Source Code</a></p>
        </div>
    </div>
    <div class="footer-connect">
        <div id="connect-title">
            <p>Connect</p>
        </div>
        <div v-if="connect" id="connect-icons">
            <a v-for="link in connect.links" :id="link.id" class="connect-icon" :href="link.url"><i :class="link.icon"></i></a>
        </div>
    </div>
</div>