<!DOCTYPE html>
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141910422-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	
	gtag('config', 'UA-141910422-1');
	</script>


	
	<title>gkevinb</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- inject:css -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- endinject -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.4.2/math.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/hanzi-writer@1.3/dist/hanzi-writer.min.js"></script>
</head>

<body>
	<div id="app" class="container">

		<!-- Navigation bar -->
		<div class="navbar navbar-expand-lg navigation">
			<div class="navbar-brand header">
				<h1>Gabor Kevin Barta</h1>
			</div>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#colapser">
				<div class="nav-burger">
					<div class="nav-burger-meat"></div>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="colapser">
				<ul class="navbar-nav ml-auto nav-menu">
					<li v-for="tab in tabs" class="navbar-item nav-item" :class="dropDownMenu(tab)" :id="tab.name" @click="currentTab = tab.name">
						<span v-if="tab.subtabs" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ tab.name }}</span>
						<span v-else class="nav-link">{{ tab.name }}</span>

						<!-- Subtab dropdown -->
						<ul v-if="tab.subtabs != null" class="dropdown-menu">
							<li v-for="subtab in tab.subtabs" class="dropdown-item" :id="subtab.name" @click.stop="currentTab = subtab.name">
								{{ subtab.name }}
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<!-- Subtab menu -->
		<ul v-for="tab in tabs" v-if="tab.name == currentTab">
			<li v-for="subtab in tab.subtabs" @click="currentTab = subtab.name">{{ subtab.name }}</li>
		</ul>

		<!-- Main content -->
		<div class="content" :is="getCurrentTab" :tabs="tabs" :cu="currentTab">

		</div>

	</div>
	<script src="js/qlearning.js" type="module"></script>
	<script src="js/home-comp.js" type="module"></script>
	<script src="js/qlearning-comp.js" type="module"></script>
	<script src="js/about-comp.js" type="module"></script>
	<script src="js/chinese-flashcard-comp.js" type="module"></script>
	<script src="js/chinese-comp.js" type="module"></script>
	<script src="js/index.js" type="module"></script>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>