#flashcards{
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    
    @include media-breakpoint-down(sm){
        // https://love2dev.com/blog/absolute-centering-css/
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
  }