#home-tab{
    position: relative;
    // overflow: hidden;

    width: 100%;
    height: 700px;
    min-width: 100%;
    min-height: 100%;
    
    display: grid;
    // grid-row-gap: 15px;
    grid-template-columns: 30px repeat(2, 1fr) 30px;
    grid-template-rows: 60px repeat(2, 1fr) 120px;
    grid-template-areas: 
        ". . . ."
        ". . i ."
        ". . . ."
        ". . l .";

    /* Make background image fit well on mobile */
    @include media-breakpoint-down(md){
        // object-fit: cover;
        // object-position: 21.5% 0; /* Adjust image */
        // height: 600px;
        grid-template-rows: 40px auto auto;
        grid-template-columns: 30px auto 30px;
        grid-template-areas: 
        ". . ."
        ". i ."
        ". l .";
    }
}

#home-tab::before{
    background-image: url(/img/background.jpeg);
    /* Background image is centered vertically and horizontally at all times */
    // background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    // background-attachment: fixed;
    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.5;
    @include media-breakpoint-down(sm){
        // object-fit: cover;
        // object-position: 21.5% 0; /* Adjust image */
        background-position: 23.5%;
    }
}

#intro_container{
    /* Positioning */
    // position: absolute;
    // top: 60px;
    // left: 500px;
    grid-area: i;
    // width: 500px;
    // z-index: 10;

    /* Border */
    padding: 20px;
    // background-color: rgba(69, 69, 69, 0.4);
    // border-radius: 10px;

    /* Text styling */
    font-size: 24px;
    color: white;
    text-align: center;

    @include media-breakpoint-down(sm){
        // object-fit: cover;
        // object-position: 21.5% 0; /* Adjust image */
        width: 100%;
        // background-color: rgba(69, 69, 69, 0);
        font-size: 18px;
    }
}

#links_container{
    grid-area: l;
    margin: 0 auto;
    @include media-breakpoint-down(sm){
        margin: 0 auto;
    }
}

.link_container{
    /* Text */
    font-size: 18px;
    color: white;
    text-decoration: none;

    /* Positioning */
    float: left;
    margin: 20px;

    /* Link */
    a{
        text-decoration: none;
        color: white;
    }
    a:active{
        color: white;
    }
    a:visited{
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: white;
    }

    .link_icon{
        width: 40px;
    }
    
    transition: all 0.6s;

    @include media-breakpoint-down(sm){
        margin: 20px;
        float: none;
        transition: none;
    }
}
.link_container:hover{
    transform: scale(1.3);
    @include media-breakpoint-down(sm){
        transform: none;
    }
}