$tile_color: rgb(214, 185, 147);
$cliff_color: rgb(40, 40, 40);

$robot_size: 96px;
$trophy_size: 48px;

/* If tile size is changed here also change it in qlearning-comp.js */
$tile_size: 100px;

/* Q Matrix values on map*/
$font_size: 14px;
$padding_size: 3px;

/* Initial row and column values, however this will change due to qlearning-comp.js */
$rows: 4;
$columns: 5;

/* =============== Control Panel ============= */

$screw-size: 40px;
$screw-color: #535353;
$bolt-color: #C4C4C4;

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg); 
    }
}

.screw{
    font-family: 'Fredoka One', cursive;
    font-size: 1.35 * $screw-size;
    color: $screw-color;

    height: $screw-size;
    width: $screw-size;

    background-color: $bolt-color;
    border: 1px solid $bolt-color;
    border-radius: $screw-size;

    div{
        /* Adjust values below after changing screw-size */
        margin-top: -0.66 * $screw-size;
        margin-left: 0.09 * $screw-size;
    }
    
}
.screw:hover{
    animation:spin 1s linear;
}

#control_panel{
    width: 400px;
    background-color: beige;
    border-radius: 20px;
}
#left_screw{
    float: left;
}
#control_panel-title{
    float: left;
}
#right_screw{
    float: right;
}



/* =============== Q MATRIX VALUES ON MAP STYLING ===================*/

@mixin qValue() {
    font-size: $font_size;
    color: rgba(255, 255, 255, 0.46);
}

.HORIZONTAL{
    width: $tile_size / 2;
    height: $tile_size / 2;
    float: left;
}
.VERTICAL{
    width: $tile_size;
    height: $tile_size / 4;
    float: left;
}

.UP{
    @extend .VERTICAL;
    text-align: center;

    div {
        @include qValue();
        padding-top: $padding_size;
    }
}
.LEFT{
    @extend .HORIZONTAL;

    div {
        @include qValue();
        line-height: $tile_size / 2;
        padding-left: $padding_size;
    }
}
.RIGHT{
    @extend .HORIZONTAL;

    div {
        @include qValue();
        float: right;
        line-height: $tile_size / 2;
        padding-right: $padding_size;
    }
}
.DOWN{
    @extend .VERTICAL;
    position: relative;

    div {
        @include qValue();
        padding-bottom: $padding_size;
        width: $tile_size;
        text-align: center;
        position: absolute;
        bottom: 0px;
    }
}

/* =============== TILE STYLING ===================*/

/*
    Setup size of tile
*/
@mixin tileSize() {
    width: $tile_size;
    height: $tile_size;
}
/*
    Setup image on tile
*/
@mixin backgroundImage($image, $size) {
    $url: "https://img.icons8.com/color/#{$size}/000000/#{$image}.png";
    background: url($url);
    background-repeat: no-repeat;
    background-position: center;
}

/*
    Animation for robot falling down the hole.
*/
@keyframes falling {
    0% { background-size: 100% 100%; }
    100% { background-size: 0% 0%; }
}
@keyframes fallixng {
    0% { background-color: blue; }
    100% { background-color: red; }
}

/*
    Animation for robot reaching the reward and jumping up and down.
    Note: changin tile_size will break the animation below, adjust pixel values afterwards
*/
@keyframes winning {
    $trophy_x_position: 56px;
    $trophy_y_position: 36px;
    0%   { background-position: $trophy_x_position $trophy_y_position, center 5px; }
    50%  { background-position: $trophy_x_position $trophy_y_position - 10px, center -5px; }
    100%  { background-position: $trophy_x_position $trophy_y_position, center 5px; }
}

/*
    Grid map for Q-Learning algorithm.
*/
#qlearningMap{
    display: grid;
    grid-template-rows: repeat($rows, $tile_size);
    grid-template-columns: repeat($columns, $tile_size);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}
.tile{
    @include tileSize();

    background-color: $tile_color;
}
.tile--agent{
    @include tileSize();
    @include backgroundImage("robot-2", "#{$robot_size}");

    background-color: $tile_color;
}
.tile--cliff{
    @include tileSize();

    background-color: $cliff_color;
}
.tile--reward{
    @include tileSize();
    @include backgroundImage("trophy", "#{$trophy_size}");

    background-color: $tile_color;
}
.tile--robot--falling{
    @include tileSize();
    @include backgroundImage("robot-2", "#{$robot_size}");

    background-color: $cliff_color;

    /* Robot falling animation */
    animation-name: falling;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.tile--robot--winning{
    @include tileSize();
    $url_robot: "https://img.icons8.com/color/#{$robot_size}/000000/robot-2.png";
    $url_trophy: "https://img.icons8.com/color/#{$trophy_size}/000000/trophy.png";
    background: url($url_trophy), url($url_robot);
    background-repeat: no-repeat, no-repeat;

    background-color: $tile_color;
    
    /* Robot winning animation */
    animation-name: winning;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}