$primary-color: #383B45;

$linkedin-blue: #0077B5;
$github-grey: #181717;
$codepen-black: #000000;

$footer-grey: rgb(163, 163, 163);

@mixin white-links() {
    a{
        color: white;
    }
    a:active{
        color: white;
    }
    a:visited{
        color: white;
    }
}

.header {
    h1 {
        color: $primary-color;
        font-family: 'ZCOOL KuaiLe', cursive;
        font-size: 50px;
        margin: 0;

        @include media-breakpoint-down(sm){
            font-size: 24px;
        }
    }
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 60vh;
    height: auto;

    @include media-breakpoint-down(sm){
        margin-top: 16px;
    }
}

.navigation {
    border-bottom: 7px solid $primary-color;
    font-family: 'Sawarabi Gothic';

    // Makes dropdown trigger on hover
    // .dropdown:hover > .dropdown-menu {
    //     display: block;
    // }
    // .dropdown > .dropdown-toggle:active {
    //     /*Without this, clicking will make it sticky*/
    //     pointer-events: none;
    // }

    .nav-item {
        color: $primary-color;
        font-size: 20px;
        text-align: center;
    }
    .nav-item:hover {
        color: white;
        background: linear-gradient(180deg, #D48590 0%, #ECAC81 100%);
        border-radius: 6px;

    }
}

.container{
    height: auto;
}

.footer{
    background-color: $primary-color;
    color: white;
    font-family: 'Montserrat', sans-serif;

    width: 100%;
    height: 200px;
    
    position: absolute;
    margin: auto;
    left: 0;

    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-areas: ". credit content connect .";

    p{
        margin-bottom: 4px;
    }

    @include media-breakpoint-down(sm){
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "content" "credit" "connect";

        margin-top: 80px;
        height: 400px;
    }
}

.footer-credit{
    grid-area: credit;
    padding: 40px;

    #credit-title{
        font-size: 18px;
    }
}

.footer-content{
    grid-area: content;
    padding: 40px;

    @include media-breakpoint-down(sm){
        padding: 0px;
        padding-top: 30px;
    }

    @include white-links();
    a{
        text-decoration: underline;
    }
    a:hover{
        text-decoration: underline;
        color: $footer-grey;
    }

    .footer-content__text{
        width: fit-content;
        margin: auto;
        font-size: 14px;
    }
    #made-with{
        font-size: 18px;
    }
    #my-name{
        color: $footer-grey;
    }
}

.footer-connect{
    grid-area: connect;
    padding: 40px;

    @include white-links();
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
        color: $footer-grey;
    }

    #connect-title{
        float: right;
        font-size: 18px;
    }
    #connect-icons{
        clear: both;
        float: right;
        font-size: 36px;
    }
    .connect-icon{
        margin-left: 10px;
    }
    #linkedin-icon:hover{
        color: $linkedin-blue;
    }
    #github-icon:hover{
        color: $github-grey;
    }
    #codepen-icon:hover{
        color: $codepen-black;
    }
}