$primary-color: #062F4F;
$bg_color: #2c3e50;
$text_color: white;

.header {
    h1 {
        color: $bg_color;
        font-family: 'ZCOOL KuaiLe', cursive;
        font-size: 50px;
        margin-right: 0;
        @include media-breakpoint-down(sm){
            margin-right: 0;
            font-size: 24px;
        }
    }
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-burger{
    $nav_burger_size: 40px;
    $nav_burger_color: linear-gradient(180deg, #D48590 0%, #ECAC81 100%);

    box-sizing: content-box; /* Make sure this is default */

    width: $nav_burger_size;
    height: $nav_burger_size * 0.6;

    border-top: $nav_burger_size * 0.2 solid;
    border-bottom: $nav_burger_size * 0.2 solid;

    border-image-source: $nav_burger_color;
    border-image-slice: 1;

    .nav-burger-meat{
        margin-top: $nav_burger_size * 0.2;
        height: $nav_burger_size * 0.2;
        background: $nav_burger_color;
    }
}

.navigation {
    border-bottom: 10px solid black;
    font-family: 'Sawarabi Gothic';

    // Makes dropdown trigger on hover
    // .dropdown:hover > .dropdown-menu {
    //     display: block;
    // }
    // .dropdown > .dropdown-toggle:active {
    //     /*Without this, clicking will make it sticky*/
    //     pointer-events: none;
    // }

    .nav-item {
        font-size: 20px;
        text-align: center;
    }
    .nav-item:hover {
        color: white;
        background: linear-gradient(180deg, #D48590 0%, #ECAC81 100%);
        border-radius: 6px;

    }
}