$primary-color: #062F4F;
$bg_color: #2c3e50;
$hover_color: #160bc0;
$text_color: white;

h1 {
    color: $bg_color;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 60px;
}
body{
    background-color: black;
    background-image: url("../img/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

#app {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "n h"
                         "n c"
                         "n .";
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.navigation {
    background-color: $primary-color;
    grid-area: n;
}

.nav-item {
    margin: 110px 0px 110px 0px;
    border: 2px solid blue;
    color: white;

}

.left{
    margin-left: 30px;
}
.right{

}

.hexagon {
    width: 100px;
    height: 55px;
    background: red;
    position: relative;
}

.hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
}
