<div id="navigation" class="navbar navbar-expand-lg">
    <div class="navbar-brand header">
        <a href="url"><h1>Gabor Kevin Barta</h1></a>
    </div>

    <!-- Navigation Hamburger -->
    <button id="nav-burger-button" class="navbar-toggler hamburger hamburger--squeeze" @click="hamburgerX()"
        data-toggle="collapse" data-target="#colapser" type="button">
        <span class="nav-burger hamburger-box">
            <span id="nav-burger-meat-js" class="nav-burger-meat hamburger-inner"></span>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="colapser">
        <ul class="navbar-nav ml-auto nav-menu">
            <li v-for="(subTabs, tab) in tabs" class="navbar-item nav-item" :class="dropDownMenu(subTabs)" :id="tab"
                @click="setCurrentTab(tab, subTabs)">

                <span v-if="subTabs.length == 0" class="nav-link">{{ tab }}</span>
                <span v-else class="nav-link dropdown-toggle" data-toggle="dropdown">{{ tab }}</span>

                <!-- Subtab dropdown -->
                <ul v-if="subTabs.length != 0" class="dropdown-menu">
                    <li v-for="subTab in subTabs" class="sub-tab dropdown-item" @click.stop="setCurrentTab(subTab)">
                        {{ subTab }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>