$primary-color: #383B45;

/* Modify values in hamburger libary (https://jonsuh.com/hamburgers/) */
$hamburger-hover-opacity : 1;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

$gradient-pink: #D48590;
$gradient-orange: #ECAC81;

/* Custom nav-burger styling */

#nav-burger-button {
    padding: 0;
}

.nav-burger {
    $nav-burger-color__before: linear-gradient(180deg, $gradient-pink 90%, $gradient-orange 100%);
    $nav-burger-color: linear-gradient(180deg, $gradient-pink 0%, $gradient-orange 100%);
    $nav-burger-color__after: linear-gradient(180deg, $gradient-pink 0%, $gradient-orange 10%);
    $nav-burger-color-X: linear-gradient(90deg, $gradient-pink 0%, $gradient-orange 100%);
    $nav-burger-color-X__after: linear-gradient(270deg, $gradient-pink 0%, $gradient-orange 100%);

    .nav-burger-meat {
        background: $nav-burger-color;
    }

    .nav-burger-meat__X {
        background: $nav-burger-color-X;
    }

    .nav-burger-meat::before {
        background: $nav-burger-color__before;
    }

    .nav-burger-meat__X::before {
        background: $nav-burger-color__before;
    }

    .nav-burger-meat::after {
        background: $nav-burger-color__after;
    }

    .nav-burger-meat__X::after {
        background: $nav-burger-color-X__after;
    }
}

/*  
    Custom nav-burger styling with help of hamburgers library
    MUST BE IN THIS SPECIFIC ORDER
    first nav-burger then hamburges node_modules library
*/
@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";


#navigation {
    border-bottom: 7px solid $primary-color;
    font-family: 'Sawarabi Gothic';

    /* Need to change padding for Iphone 5s size screens */
    // @include media-breakpoint-down(xs){
    //     padding: 0px;
    // }

    .nav-item {
        color: $primary-color;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        a {
            text-decoration: none;
            color: $primary-color;
        }
        a:hover {
            color: white;
        }
    }
    .nav-item:hover {
        color: white;
        background: linear-gradient(180deg, $gradient-pink 0%, $gradient-orange 100%);
        border-radius: 6px;
    }
    .sub-tab:active{
        background-color: linear-gradient(180deg, $gradient-pink 0%, $gradient-orange 100%);
        background-color: #F8F9FA;
        color: black;
    }
}
