<div id="custom-scripts-tab">
    <div id="custom-scripts-header">
        <h1>Custom Scripts</h1>
        <button @click="showCode" type="button">SHOW</button>
    </div>
    <div v-for="(value, command) in commands" class="terminal-window" :key="command">
        <div class="terminal-header">
            <div class="dollar">$</div>
            <div class="command">{{ command }}</div>
            <button class="btn button-copy" type="button">
                <i class="far fa-copy"></i>
            </button>
            <button class="btn button-show" @click="showCode" type="button">
                <i class="far fa-caret-square-down"></i>
            </button>
        </div>
        <div class="terminal-body">
            <pre v-if="show">{{ value }}</pre>
        </div>
    </div>
</div>