<div id="custom-scripts-tab">
    <div id="custom-scripts-header">
        <h1>Custom Scripts</h1>
        <!-- <button @click="showCode" type="button">SHOW</button> -->
    </div>
    <div id="terminal-tool-bar">
        <div id="red" class="circle"></div>
        <div id="yellow" class="circle"></div>
        <div id="green" class="circle"></div>
        <button id="collapse-button" class="terminal-button" @click="collapseAll" type="button">
            <!-- <i class="far fa-caret-square-down"></i> -->
            <!-- <i class="fas fa-minus-square"></i> -->
            <i class="far fa-minus-square"></i>
        </button>
    </div>
    <div id="terminal-window" :key="reRenderKey">
        <div v-for="command in commands" class="terminal-command" :key="command.id">
            <div class="command-header">
                <div class="dollar">$</div>
                <div class="command">{{ command.name }}</div>
                <!-- <div class="argument">$arg1</div> -->
                <!-- <div class="argument">$arg2</div> -->
                <!-- <button class="terminal-button button-copy" type="button">
                    <i class="far fa-copy"></i>
                </button> -->
                <!-- <input class="show-checkbox" type="checkbox" v-model="show[command.id]"> -->
                <label class="show-checkbox">
                    <input type="checkbox" v-model="show[command.id]"/>
                    <i class="far fa-caret-square-down unchecked"></i>
                    <i class="far fa-caret-square-up checked"></i>
                </label>
            </div>
            <div class="command-body">
                <pre v-if="show[command.id]">
                    <code :class="classStyling(command.name)">{{ command.algorithm }}</code>
                </pre>
            </div>
        </div>
    </div>
</div>