<div id="custom-scripts-tab">
    <div id="custom-scripts-header">
        <h1>Custom Scripts</h1>
        <button @click="showCode" type="button">SHOW</button>
    </div>
    <div id="terminal-tool-bar">
        <div id="red" class="circle"></div>
        <div id="yellow" class="circle"></div>
        <div id="green" class="circle"></div>
    </div>
    <div id="terminal-window">
        <div v-for="(value, command) in commands" class="terminal-command" :key="command">
            <div class="command-header">
                <div class="dollar">$</div>
                <div class="command">{{ command }}</div>
                <!-- <div class="argument">$arg1</div>
                <div class="argument">$arg2</div> -->
                <button class="terminal-button button-copy" type="button">
                    <i class="far fa-copy"></i>
                </button>
                <button class="terminal-button button-show" @click="showCode" type="button">
                    <i class="far fa-caret-square-down"></i>
                </button>
            </div>
            <div class="command-body">
                <pre v-if="show">{{ value }}</pre>
            </div>
        </div>
    </div>
</div>